.toggle-button {
    -fx-background-color: transparent;
    -fx-background-radius: 15;
    -fx-padding: 0;
    -fx-cursor: hand;
    -fx-min-width: 40px;
    -fx-min-height: 20px;
    -fx-max-width: 40px;
    -fx-max-height: 20px;
    -fx-border-color: black;
    -fx-border-radius: 15;
    -fx-border-width: 1px;
    -fx-alignment: center-left;
    -fx-graphic-text-gap: 0;
}

.toggle-button:selected {
    -fx-background-color: #cce5ff;
    -fx-alignment: center-right;
}

.toggle-button .thumb {
    -fx-background-color: white;
    -fx-background-radius: 50%;
    -fx-min-width: 14px;
    -fx-min-height: 14px;
    -fx-max-width: 14px;
    -fx-max-height: 14px;
    -fx-translate-x: 3;
    -fx-border-color: #000000;
    -fx-border-radius: 50%;
}

.toggle-button:selected .thumb {
    -fx-translate-x: -3;
}
