.switch-toggle {
    -fx-background-color: white;
    -fx-background-radius: 20;
    -fx-border-color: black;
    -fx-border-radius: 20;
    -fx-border-width: 2;
    -fx-padding: 0;
}

.switch-toggle:selected {
    -fx-background-color: #cce5ff;
}

.switch-toggle .text {
    -fx-opacity: 0;
}

.switch-toggle::armed, .switch-toggle::hover {
    -fx-background-color: white;
}

.switch-toggle > .graphic {
    -fx-shape: "M0,0 h20 a10,10 0 0 1 10,10 a10,10 0 0 1 -10,10 h-20 a10,10 0 0 1 -10,-10 a10,10 0 0 1 10,-10 z";
    -fx-background-color: black;
    -fx-background-radius: 20;
    -fx-min-width: 16;
    -fx-min-height: 16;
    -fx-max-width: 16;
    -fx-max-height: 16;
    -fx-translate-x: -10;
    -fx-translate-y: 2;
}

.switch-toggle:selected > .graphic {
    -fx-translate-x: 10;
}
