/*https://github.com/asciidoctor/asciidoctor-reveal.js/issues/199*/
.reveal section img {
    border: 0;
    box-shadow: none;
}
.font-smaller {
    font-size: smaller;
}
.font-larger {
    font-size: larger;
}

.reveal .lightbg { background: #fff8f1d0; }

.bold {
    font-weight: bold;
}

.capitalize {
    text-transform: capitalize;
}

.underline {
    text-decoration: underline;
}

.he2 {
    color: var(--r-heading-color);
    font-size: var(--r-heading3-size);
    font-family: var(--r-heading-font), sans-serif;
    line-height: 1.1;
}